name: My first workflow

on:
    - push
    
jobs:
    format:
        name: Check formatting
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4.0.0
              with:
                python-version: '3.10'

            - name: Install tox
              run: python -m pip install tox --upgrade

            - name: Run black
              run: tox -e format

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4.0.0
              with:
                python-version: '3.10'

            - name: Install tox
              run: python -m pip install tox --upgrade

            - name: Run flake8
              run: tox -e lint

    typecheck:
        name: Type check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4.0.0
              with:
                python-version: '3.10'

            - name: Install tox
              run: python -m pip install tox --upgrade

            - name: Run mypy
              run: tox -e typecheck

    test-color-a11y:
        name: Test color accessibility
        runs-on: ubuntu-latest
        
        strategy:
            matrix:
                text-color:
                    - value: "#000000"
                    - value: "#33A5F3"
                    - value: "#59FFE9"
                    - value: "#999999"
                background-color:
                    - value: "#000000"
                    - value: "#336633"
                    - value: "#989A5F"
                standard:
                    - name: "WCAG"
                      level: "AA"
                    - name: "WCAG"
                      level: "AAA"
        steps:
            - name: Check accessibility
              run: |
                echo "Checking ${{ matrix.text-color.value }} on ${{ matrix.background-color.value }} for ${{ matrix.standard.name }} level ${{ matrix.standard.level }}"

    test:
        name: Test
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python:
                    - version: "3.10"
                      toxenv: "py310"
                    - version: "3.9"
                      toxenv: "py39"
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-python@v4.0.0
              with:
                python-version: ${{ matrix.python.version }}

            - name: Install tox
              run: python -m pip install tox

            - name: Run pytest
              run: tox -e ${{ matrix.python.toxenv }}
    
    build_source_dist:
        name: Build source distribution
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-python@v4.0.0
              with:
                python-version: "3.10"

            - name: Install build
              run: python -m pip install build

            - name: Run build
              run: python -m build --sdist

            - uses: actions/upload-artifact@v4
              with:
                name: source-dist
                path: dist/*.tar.gz

    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-20.04, windows-2019, macOS-10.15]
    
        steps:
            - uses: actions/checkout@v3
    
            - uses: actions/setup-python@v4.0.0
              with:
                python-version: "3.10"

            - name: Install cibuildwheel
              run: python -m pip install cibuildwheel==2.3.1
    
            - name: Build wheels
              run: python -m cibuildwheel --output-dir wheels
    
            - uses: actions/upload-artifact@v4
              with:
                name: wheels-${{ matrix.os }}
                path: wheels/*.whl

    publish_to_test_pypi:
        name: Publish Package to Test PyPI
        if: startsWith(github.event.ref, 'refs/tags/v')
        needs:
            - format
            - lint
            - typecheck
            - test
            - build_source_dist
            - build_wheels
        runs-on: ubuntu-latest
        steps:
            - uses: actions/download-artifact@v4
              with:
                pattern: '*'
                path: dist
                merge-multiple: true

            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                password: ${{ secrets.TEST_PYPI_API_TOKEN }}
                repository-url: https://test.pypi.org/legacy/

